@use "./variables" as v;

.descriptionBg {
  box-sizing: border-box;
  width: 100%;
  background-color: v.$primary-blue-background;

  .description {
    padding: 10px v.$side-gap;
    font-size: 5rem;
    color: v.$font;
    height: 100vh;
    max-width: v.$screen-width;
    margin: v.$header-height auto 0;

    .titleWrapper {
      max-height: 250px;
      margin-bottom: 30px;
      margin-top: 70px;

      .firstLine {
        font-size: clamp(0.2em, 5vw, 0.3em);
        margin-bottom: 20px;
      }

      .myName {
        font-size: clamp(0.4em, 5vw, 0.5em);
        animation: showText 1s;
        color: v.$beige;
        font-weight: 700;
      }
      .title {
        font-size: clamp(0.25em, 5vw, 0.4em);
        animation: showText 1s;
        font-weight: 500;
      }
    }
    @keyframes showText {
      0% {
        opacity: 0;
        filter: blur(5px);
        transform: translateX(-100%);
        transition: all 1s;
      }
      100% {
        opacity: 100%;
        filter: blur(0);
        transform: translateX(0);
      }
    }

    .myDescription {
      margin-bottom: 40px;
      font-size: clamp(0.2em, 3vw, 0.3em);
      width: 100%;
      margin-bottom: 30px;
      max-width: 500px;
    }
    .profile {
      width: 100%;
      max-width: 350px;
      height: clamp(300px, 90vw, 352px);
      display: flex;
      justify-content: center;
      align-items: flex-end;
      position: relative;

      .photo-container {
        width: 100px;
        width: 80%;
        position: relative;
        max-width: 250px;

        img {
          width: 100%;
          height: auto;
          border-radius: 50%;
          transform: scaleX(-1);
        }

        svg{
          position: absolute;
          bottom: 0;
          // transform: scaleY(-1);

          path {
            fill: transparent;
          }
  
          text {
            fill: v.$orange;
            font-size: 2.2rem;
            letter-spacing: 1.5px;
          }
        }

      }
      .buttons {
        position: absolute;
        top: 0;
        width: 100%;
        height: clamp(100px, 25vw, 120px);
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        opacity: 0;
        transition: 0.5s;

        .contactBtn,
        .workBtn,
        .skillsBtn,
        .resumeBtn {
          background-color: v.$orange;
          border: none;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          display: grid;
          place-content: center;
        }

        .workBtn,
        .skillsBtn {
          align-self: flex-start;
        }

        .workBtn {
          margin-right: 10px;
        }
        .skillsBtn {
          margin-left: 10px;
        }
      }

      .photo-container:hover + .buttons {
        opacity: 1;
      }
    }
  }
}

@media screen and (min-width: 768px) and (orientation: landscape) {
  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (min-height: 800px) and (orientation: portrait) {
  .description {
    padding-top: clamp(150px, 25vh, 180px);
  }
}
