@use "./variables" as v;

.projectsBg {
  box-sizing: border-box;
  width: 100%;
  background-color: v.$secondary-blue-background;

  .projectsContainer {
    padding: calc(v.$header-height + 30px) clamp(5px, 3vw, 40px) 0;
    font-size: 5rem;
    color: v.$font;
    box-sizing: border-box;
    padding-bottom: 150px;
    max-width: v.$screen-width;
    margin: 0 auto;

    .sectionTitle {
      font-size: clamp(1.5rem, 3vw, 1.8rem);
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 100px;
    }
  }
}
