@use "./variables" as v;

.projectsBg {
  box-sizing: border-box;
  width: 100%;
  background-color: v.$secondary-blue-background;

  .projectsContainer {
    padding: calc(v.$header-height + 30px) clamp(5px, 3vw, 40px) 0;
    font-size: 5rem;
    color: v.$font;
    box-sizing: border-box;
    padding-bottom: 150px;
    max-width: v.$screen-width;
    margin: 0 auto;
    
    .section {
      font-size: clamp(0.3em, 5vw, 0.4em);
      margin: 0 0 60px;
    }
    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      margin: 20px auto 0;
      flex-wrap: wrap;
      gap: 100px 50px;
      padding: 10px 0;
    }
    @media screen and (min-width: 850px) {
      .wrapper {
        flex-direction: row;
      }
    }
  }
}
