@use "./variables" as v;

.project {
  width: 100%;
  max-width: 900px;
  position: relative;
  margin-top: 50px;
  background-color: v.$primary-blue-background;
  border-radius: 20px;
  height: 260px;

  .details {
    padding: 20px;
    width: 100%;

    .projectTitle {
      font-size: clamp(1.3rem, 2vw, 2rem);
    }
    .projectDescription {
      font-size: clamp(1rem, 2vw, 1.1rem);
      margin-top: 20px;
    }
    .toolsList {
      font-size: clamp(1.2rem, 2vw, 1.8rem);
      margin-top: 20px;
    }
    ul {
      width: 60%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      column-gap: 15px;
      row-gap: 6px;
      flex-wrap: wrap;

      li {
        list-style: none;
        font-size: 1rem;
      }
    }
  }

  .overview {
    width: 35%;
    aspect-ratio: 1;
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 1rem;
    border-radius: 15px;
    overflow: hidden;
    background-color: v.$font;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    img {
      background-color: v.$beige;
      width: 95%;
      border-radius: 15px;
      height: auto;
    }
  }

  @media screen and (min-width: 750px) {
    display: flex;
    height: 370px;

    .details {
      width: 57%;
      ul {
        width: 100%;
      }
    }
    .overview {
      width: auto;
      top: 0;
      height: 100%;

      border-radius: 15px;
      overflow: hidden;
      img {
        background-color: v.$beige;
        height: 100%;
        object-fit: cover;
        object-position: 0 0;
      }
    }
  }
}
