
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  user-select: none; 
}

body {
  line-height: 1.5;
  font-weight: 400;
}

.home{
  width: 100%;

  h2 {
    font-size: clamp(1.3rem, 2vw, 2rem);
    margin: 0 0 60px;
  }
}
